.tp1 {

    list-style-type: none;
    background-color: goldenrod;
    color: rgb(19, 4, 4);
    background-size: 100%;
    overflow: hidden;
    width: 100%;
    background-image: transparent;
}
.subh1,.subh2,.subh3,.subh4,.subh5 {
    
    padding: 20px;
    text-align: center;
    float:left;
    margin-left: 20px;
    margin-right: 20px;
    background-color:goldenrod;
    color: rgb(19, 4, 4);
    border-radius: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
li:hover{
    cursor:grabbing ;
    border-radius: 12px;
    background-color: #edf2f5;
    border-radius: 20px;
    background-size: cover;
    transition: 1s;
    

}
.row.small{
    
    background-color: goldenrod;
    /*margin-left: -200px;
    margin-right: -200px;
   */ 
}
/* Bootstrap CSS*/

/*BootStrap CSS End*/
