/* .container02 {
    width: 50%;
    margin: 15px auto;
    
  } */
  .flex-box-container01{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* padding: 10px;   */
    justify-content: space-around;
    flex-direction: row;
  }
  
  canvas { background:ivory; border:5px solid orange; align-items: center; width: 50% !important;}
  /* canvas { background:ivory; border:5px solid orange; width:400px !important; height:400px !important } */
  
  /* .header1{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  } */
  

  #leftbox { 
    float:left;  
   
    width:65%; 
    height:455px; 
} 
    #rightbox{ 
    float:right;
    padding-left: 2%;
    padding-right: 2%;
    background:orange; 
    width:35%; 
    height:455px; 
    
} 
    h2{
        text-align: center;
    }

    .button {
    background-color: transparent;
    border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
   
    }

    #leftbox2 { 
      float:left;  
      padding-top: 2%;
       padding-left: 15%;
       padding-right: 5%;
      width:50%; 
      height:200px; 
  } 
  #ending {
      width:100%;
      float:bottom;
      text-align: center;


  }


  * {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .dataset-selection {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .left-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .right-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  