/* .container02 {
    width: 50%;
    margin: 15px auto;
    
  } */
  .flex-box-container01{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* padding: 10px;   */
    justify-content: space-around;
    flex-direction: row;
  }
  
  canvas { background:ivory; border:5px solid orange; align-items: center;}
  /* canvas { background:ivory; border:5px solid orange; width:400px !important; height:400px !important } */
  
  /* .header1{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  } */
  